
        body{
            background: #f4f6f9;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .container{
            width: 1100px;
            margin: 40px auto;
            padding: 20px;
        }

        .title{
            text-align: center;
            color: #7494ec;
            margin-bottom: 25px;
        }

        .docs-grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 25px;
        }

        .doc-card{
            background: white;
            border-radius: 15px;
            text-align: center;
            padding: 20px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            transition: 0.3s;
        }

        .doc-card:hover{
           transform: translateY(-5px);
        }

        .doc-card img{
            width: 180px;
            height: 130px;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 15px;
            border: 2px solid #eee;
        }

        .doc-card h3{
            color: #333;
            margin-bottom: 15px;
        }

        .view-btn{
            background: #7494ec;
            color: white;
            padding: 10px 18px;
            text-decoration: none;
            border-radius: 8px;
            display: inline-block;
        }

        .view-btn:hover{
            background: #5b7ddb;
        }

        .button-box{
            text-align: center;
            margin-top: 90px;
            padding: 10px 18px;

        }

        .back-btn{
            background: #7494ec;
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            font-size: 20px;
            font-weight: bold;
            border-radius: 8px;

        }

        .back-btn:hover{
            background: #5b7ddb;
        }
