
       *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #eef2f7;
        }

        .container{
            width: 700px;
            margin: 40px auto;
            background: white;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 5px 20px rgba(0,0,0,0.1);;
        }

        h2{
            text-align: center;
            margin-bottom: 25px;
            color: #7494ec;
        }

        .success-msg{
    font-size: 20px;
    color:#155724;
    padding:12px;
    margin-bottom:30px;
    text-align:center;
    font-weight:bold;
}

        .profile-img-box{
            width: 150px;
            position: relative;
            height: 150px;
            margin: 0 auto 25px;
        }

        .profile-img-box img{
            width: 150px;
            height: 150px;
            border: 5px solid #7494ec;
            object-fit: cover;
            border-radius: 50%;

        }

        .change-photo-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            background:rgba(0, 0, 0, 0.65);
            color: white;
            transform:translate(-50%, -50%);
            padding: 10px 15px;
            cursor: pointer;
            opacity: 0;
            transition: 0.3s;
            border-radius: 20px;
        }

        .profile-img-box:hover .change-photo-btn{
    opacity:1;
      
}

#photo-upload{
    display:none;
}


.form-group{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input,
textarea{
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    
}

.button-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-btn{
    background: #7494ec;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    font-size: 16px;
}

.update-btn{
    background: #7494ec;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

.btn:hover{
    background:#5b7ddb;
}
  